
.rev-box a{
  padding: 10 20;
  border-radius: 10px ;

  background-color: aliceblue;
text-decoration: none;
color: blueviolet;
  
}
.rev-box a:hover{
    background-color: blueviolet;
    color: aliceblue;
}
.rev-box
{
    border-radius: 10px;
     background-color: black ;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rev-box img
{
    height: 50%;
    width: 50%;
    object-fit: contain;
}
#stars
{
    color: gold;
}
